<header>
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <a href="/"><img src="/images/msp-logo.png" id="header-logo" class="img-responsive" alt="MySimplePlants"></a>
      </div>
      <div class="col-md-9">
        <p class="pull-left" style="color:#59AE4A; margin-top:24px; font-weight:bold;">Free Shipping!</p>
        <ul id="social" class="pull-right">
          <li><%= link_to image_tag("fb.png", alt: "Facebook"), "https://www.facebook.com/mysimpleplants", target: "_blank"  %></li>
          <li><%= link_to image_tag("twitter.png", alt: "Twitter"), "https://twitter.com/mysimpleplants/", target: "_blank"  %></li>
          <li><%= link_to image_tag("instagram.png", alt: "Instagram"), "http://instagram.com/mysimpleplants/", target: "_blank"  %></li>
          <li><%= link_to image_tag("pinterest.png", alt: "Pinterest"), "http://pinterest.com/mysimpleplants/", target: "_blank"  %></li>
          <!--<li><%= link_to image_tag("google+.png", alt: "Google+"), "http://pinterest.com/mysimpleplants/", target: "_blank"  %></li>-->
          <li><%= link_to image_tag("wordpress.png", alt: "Google+"), "http://mysimpleplants.wordpress.com/", target: "_blank"  %></li>
        </ul>
        <nav class="navbar pull-right" role="navigation">
          <ul class="nav navbar-nav">
            <li><%= link_to "Register", register_path %></li>
            <li><%= link_to "About Us", about_us_path %></li>
            <li><%= link_to "How It Works", hiw_path %></li>
            <li><%= link_to "Our Growers", our_growers_path %></li>
            <li><%= link_to "Contact Us", contact_us_path %></li>
            <li><%= link_to raw('<i class="fa fa-shopping-cart"></i>'), mycart_path %></li>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</header>
