<tr>
  <td><%= link_to order.id, growers_show_order_path(order) %></td>
  <td><%= order.zip %></td>
  <td class="text-right"><%= order.created_at.strftime("%m/%d/%Y") %></td>
  <td class="text-right"><%= order.zone.ship_date.strftime("%m/%d/%Y") %></td>
  <td class="text-right"><%= (order.pickup_date - 1.days).strftime("%m/%d/%Y") if order.pickup_date.present? %></td>
  <td class="text-right"><%= order.pickup_date.strftime("%m/%d/%Y") if order.pickup_date.present?  %></td>
  <td><%= order.status %></td>
  <td><% if order.shipping_label.present? %><%= link_to "Shipping Label", growers_shipping_label_path(order), {target:'_blank'} %><% end %></td>
  <td class="text-center"><%= check_box_tag "orders[]", order.id %></td>
</tr>
