<table class="table table-hover tablesorter" style="width:100%;">
  <thead>
    <tr>
      <th>Order #</th>
      <th>Zip</th>
      <th class="text-right">Order Date</th>
      <th class="text-right">First Ship Date</th>
      <th class="text-right">Pick Date</th>
      <th class="text-right">Fedex Pickup Date</th>
      <th>Status</th>
      <th>Print</th>
      <th class="text-center">Select</th>
    </tr>
  </thead>
  <tbody>
    <%= render partial: 'table_row', collection: @table, as: :order %>
  </tbody>
</table>
