<ul class="pull-right text-right" style="font-weight:200;margin-top:30px;">
  <li>Outstanding Orders: <b><%= @totals[:open] %></b></li>
  <li>Completed Orders: <b><%= @totals[:closed] %></b></li>
  <li>Total Orders: <b><%= @totals[:all] %></b></li>
</ul>
