<div id="edit_grower_page" class="container">
  <p><%= link_to "<< Back to account page", growers_home_path %></a></p>
  <h2>Edit Info</h2>
  <%= form_for @grower do |f| %>
    <% if @grower.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
      <% @grower.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
    <% end %>
    <hr>
    <div class="form-group">
      <%= f.label :name, "Business Name" %>
      <%= f.text_field :name, class: 'form-control required' %>
    </div>
    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control required' %>
    </div>
    <div class="form-group">
      <%= f.label :address2, "Address 2" %>
      <%= f.text_field :address2, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :city %>
      <%= f.text_field :city, class: 'form-control required' %>
    </div>
    <div class="form-group">
      <%= f.label :state %>
      <%= f.select :state, us_states, {include_blank: false}, { class: 'form-control short required' } %>
    </div>
    <div class="form-group">
      <%= f.label :zip %>
      <%= f.text_field :zip, class: 'form-control required short' %>
    </div>
    <div class="form-group">
      <%= f.label :phone %>
      <%= f.text_field :phone, class: 'form-control required' %>
    </div>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control required' %>
    </div>
    <div class-="form-group" style="margin-bottom:30px;">
      <%= f.label :encrypted_password, "Password" %>
      **************** <%= link_to "Change Password", edit_grower_registration_path %>
    </div>
    <div class="actions" style="text-align:left;">
      <%= f.submit "Save Changes", id: 'save-button', class: 'btn btn-primary btn-cart', style: 'max-width:200px;' %>
    </div>
  <% end %>
</div>
