<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <main>
      <p style="margin:0;"><%= Time.now.strftime("%m/%d/%Y") %></p>
      <h1 style="text-align:center;margin:0;padding:0;"><%= @grower.name %></h1>
      <h3 style="text-align:center;margin:0;padding:0;margin-bottom:20px;">Master Picking Sheet</h3>
      <table style="width:100%;">
        <thead>
          <tr>
            <th style="text-align:left;border-bottom:1px solid #000;padding-bottom:10px;">Color</th>
            <th style="text-align:right;border-bottom:1px solid #000;padding-bottom:10px;">Sun/Shade</th>
            <th style="text-align:right;border-bottom:1px solid #000;padding-bottom:10px;">Units</th>
            <th style="text-align:right;border-bottom:1px solid #000;padding-bottom:10px;">Units Picked</th>
          </tr>
        </thead>
        <tbody>
          <tr><td colspan="4" style="height:20px;">&nbsp;</td></tr>
        <%
        total = 0
        subtotal = 0
        @items.each do |s, sa| 
        sa.each do |c, q| %>
          <tr><td><%= c %></td><td style="text-align:right;"><%= s %></td><td style="text-align:right;"><%= q.to_i %></td><td style="text-align:right;">__________</td></tr>
          <%  subtotal = subtotal + q.to_i
        end %>
          <tr><td colspan="2" style="text-align:right;font-weight:bold;padding-bottom:40px;padding-top:10px;">Subtotal:</td><td style="text-align:right;padding-bottom:40px;padding-top:10px;"><div style="width:40px;border-top:1px dashed #000;padding-top:3px;float:right;"><%= subtotal %></div></td><td>&nbsp;</td></tr>
          <% 
          total = total + subtotal
          subtotal = 0
        end %>
          <tr><td colspan="2" style="text-align:right;font-weight:bold;">Total:</td><td style="text-align:right;"><div style="width:40px;border-top:1px dashed #000;padding-top:3px;float:right;"><%= total %></div></td><td>&nbsp;</td></tr>
        </tbody>
      </table>
    </main>
  </body>
</html>
