<div class="container">
  <form method="post" id="grower_form">
    <div class="row" style="margin-top:20px;margin-bottom:40px;">
      <div class="col-sm-2">
        <% if @grower.logo.present? %>
         <%= image_tag @grower.logo, alt: @grower.name, class: 'grower-image' %>
        <% end %>
      </div>
      <div class="col-sm-6">
        <%= @grower.name %><br>
        <%= @grower.address %><br>
        <% if @grower.address2.present?  %>
          <%= @grower.address2 %><br>
        <% end %>
        <%= "#{@grower.city} #{@grower.state}, #{@grower.zip}" %><br>
        <%= @grower.phone %><br>
        <%= @grower.email %><br>
        <%= link_to "Edit", growers_edit_info_path %>
      </div>
      <div class="col-sm-4">
        <div class="row">
          <div class="col-sm-7">
            <div class="form-group pull-right">
              <label for="from_date" style="font-weight:200;">From </label>
              <input type="text" id="from_date" name="from_date" style="max-width:100px;display:inline-block; text-align:center;" class="form-control datepicker">
            </div>
          </div>
          <div class="col-sm-5">
            <div class="form-group pull-right">
              <label for="to_date" style="font-weight:200;">To </label>
              <input type="text" id="to_date" name="to_date" style="max-width:100px;display:inline-block;text-align:center;" class="form-control datepicker">
            </div>
          </div>
        </div>
        <div id="grower_totals_wrapper">
          <%= render partial: 'totals', object: @totals %>
        </div>
      </div>
    </div>
    <% if @grower.orders.present? %>
      <div class="row">
        <div class="col-sm-9">
        </div>
        <div class="col-sm-3">
          <div class="form-group pull-right" style="min-width:238px;margin-bottom:0">
            <label for="order_filter" style="font-weight:200;">Filter </label>
            <select id="order_filter" name="order_filter" style="max-width:200px;display:inline-block;" class="form-control">
              <option value="">All</option>
              <option value="Open">Open</option>
              <option value="Picked">Picked</option>
              <option value="Complete">Complete</option>
            </select>
          </div>
        </div>
      </div>
      <div id="grower_table_wrapper">
        <%= render partial: 'table', object: @grower %>
      </div>
      <div class="row">
        <div class="col-sm-8"></div>
        <div class="col-sm-3">
          <div class="form-group">
            <label class="sr-only">Select Action</label>
            <select id="order_action" name="order_action" class="form-control">
              <option value="">Select Action...</option>
              <option value="1">Mark Orders as Picked</option>
              <option value="2">Mark Orders as Complete</option>
              <option value="3">Print Master Picking Sheet</option>
              <option value="5">Print Individual Picking Sheets</option>
              <!-- <option value="4">Print Shipping Labels</option> -->
            </select>
          </div>
        </div>
        <div class="col-sm-1">
          <button type="submit" class="btn btn-success" id="filter_orders">Go</button>
        </div>
      </div>
    <% else %>
      <p>You currently have no orders.</p>
    <% end %>
  </form>
</div>
