<div id="edit_grower_page" class="container">
  <h2>Change Password</h2>
  <hr>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>
  <div class="form-group">
    <%= f.label :current_password %>
    <%= f.password_field :current_password, class: "form-control required" %>
  </div>
  <div class="form-group">
    <%= f.label :password, "New Password" %>
    <%= f.password_field :password, autocomplete: "off", class: "form-control required" %>
  </div>

  <div class="form-group">
    <%= f.label :password_confirmation, "Confirm Password" %>
    <%= f.password_field :password_confirmation, class: "form-control required" %>
  </div>
  <div class="actions" style="text-align:left;">
    <%= f.submit "Update Password", id: 'save-button', class: 'btn btn-primary btn-cart', style: 'max-width:200px;' %>
  </div>
<% end %>
</div>
