<%= form_for(@zip_code) do |f| %>
  <% if @zip_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@zip_code.errors.count, "error") %> prohibited this zip_code from being saved:</h2>

      <ul>
      <% @zip_code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :zip_code %><br>
    <%= f.text_field :zip_code %>
  </div>
  <div class="field">
    <%= f.label :zone_id %><br>
    <%= f.number_field :zone_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
