<div class="form-group">
  <label for="zip_search" class="sr-only">Zip Code:</label>
  <input id="zip_search" class="input-lg form-control" name="zip_search" style="display:inline-block; width:80%; margin-left:30px; vertical-align:bottom; max-width:100px;">
</div>
