<p id="notice"><%= notice %></p>

<p>
  <strong>Zip code:</strong>
  <%= @zip_code.zip_code %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @zip_code.zone_id %>
</p>

<%= link_to 'Edit', edit_zip_code_path(@zip_code) %> |
<%= link_to 'Back', zip_codes_path %>
