<%= form_for(@option_set) do |f| %>
  <% if @option_set.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@option_set.errors.count, "error") %> prohibited this option_set from being saved:</h2>

      <ul>
      <% @option_set.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :product_id %><br>
    <%= f.number_field :product_id %>
  </div>
  <div class="field">
    <%= f.label :order_num %><br>
    <%= f.number_field :order_num %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
