<div class="row step" id="step_<%= option_set_counter + 2 %>">
  <div class="col-md-7">
    <h2><span class="steps">Step <%= option_set_counter + 2 %>:</span> <%= option_set.title %></h2>
    <p><%= option_set.description %></p>
  </div>
  <div class="col-md-5" style="margin-top:32px;">
    <% if option_set.id == 1 
         choices = ['First Choice', 'Second Choice', 'Third Choice']
        (0..2).each do |i| %>
        <label for="options[<%= option_set_counter %>][<%= i %>]" class="sr-only"><%= choices[i] %></label>
        <select name="options[<%= option_set_counter %>][<%= i %>]" class="input-lg form-control color-select" style="margin-left:40px; width:80%;">
          <option value="" disabled selected><%= choices[i] %></option>
          <%= render partial: 'options/option_set_option', collection: option_set.options, as: :option %>
        </select>
    <%  end 
    else %>
    <label for="options[<%= option_set_counter %>]" class="sr-only"><%= option_set.name %></label>
    <select name="options[<%= option_set_counter %>]" class="input-lg form-control" style="margin-left:40px; width:80%;">
      <option value="" disabled selected>Select One...</option>
      <%= render partial: 'options/option_set_option', collection: option_set.options, as: :option %>
    </select>
    <% end %>
  </div>
</div>
