<% if option_set.option_type_id == 2 %>
  <%= render partial: option_set.option_type.template %>
<% else %>
  <select title="<%= option_set.name %>" name="options[]" class="input-lg form-control" style="margin-left:30px; width:80%;">
    <option value="" selected><%= option_set.default_value %></option>
    <%= render partial: 'options/option_set_option', collection: option_set.options, as: :option %>
  </select>
<% end %>
