<h1>Listing option_sets</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Product</th>
      <th>Order num</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @option_sets.each do |option_set| %>
      <tr>
        <td><%= option_set.name %></td>
        <td><%= option_set.product_id %></td>
        <td><%= option_set.order_num %></td>
        <td><%= link_to 'Show', option_set %></td>
        <td><%= link_to 'Edit', edit_option_set_path(option_set) %></td>
        <td><%= link_to 'Destroy', option_set, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Option set', new_option_set_path %>
