<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @option_set.name %>
</p>

<p>
  <strong>Product:</strong>
  <%= @option_set.product_id %>
</p>

<p>
  <strong>Order num:</strong>
  <%= @option_set.order_num %>
</p>

<%= link_to 'Edit', edit_option_set_path(@option_set) %> |
<%= link_to 'Back', option_sets_path %>
