<p>Someone has registered on the mysimpleplants.com website. The details are below.</p>
<p>Name: <%= "#{@registration.first_name} #{@registration.last_name}" %><br>
Email: <%= @registration.email %></p>