<%= form_for @registration, html: { role: 'form' } do |f| %>
  <% if @registration.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <p>All fields except zip code are required.</p>
    </div>
  <% end %>
  <div class="form-group">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: 'form-control' %>
  </div>
  <div class="form-group">
    <%= f.label :zip_code %>
    <%= f.text_field :zip_code, class: 'form-control', style: 'max-width:200px;' %>
  </div>
  <div class="actions form-group" style="margin-top:20px;">
    <%= f.submit "Register", class: "btn btn-lg btn-primary btn-cart", style: "max-width:200px;" %>
  </div>
<% end %>
