<div class="container" id="register">
  <h1>Register</h1>
  <p>Why Register?</p>
  <ul style="list-style-type:decimal;margin-left:20px;">
     <li>To receive your first-time buyer's discount.</li>
     <li>To be alerted to future promotions and offers.</li>
     <li>To be notified as we expand our selection to include more items for your garden.</li>
  </ul>
  <%= render 'form' %>
</div>
