<div class="container">
  <p style="margin-top:20px">Thanks for registering with mysimpleplants.com.  Your first-time purchase discount coupon for 50% off is:</p> <p><b style="color:#CB323D;">MSP201450</b></p>
  <p>Order now because it expires on June 1st.</p>
  <div style="margin-top:40px;"><a href="/buy-plants"><button class="btn btn-lg btn-primary btn-cart">Order Now</button></a></div>
</div>
