<%= form_for(@grower_zip_code) do |f| %>
  <% if @grower_zip_code.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@grower_zip_code.errors.count, "error") %> prohibited this grower_zip_code from being saved:</h2>

      <ul>
      <% @grower_zip_code.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :zip_code_id %><br>
    <%= f.number_field :zip_code_id %>
  </div>
  <div class="field">
    <%= f.label :grower_id %><br>
    <%= f.number_field :grower_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
