<h1>Listing grower_zip_codes</h1>

<table>
  <thead>
    <tr>
      <th>Zip code</th>
      <th>Grower</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @grower_zip_codes.each do |grower_zip_code| %>
      <tr>
        <td><%= grower_zip_code.zip_code_id %></td>
        <td><%= grower_zip_code.grower_id %></td>
        <td><%= link_to 'Show', grower_zip_code %></td>
        <td><%= link_to 'Edit', edit_grower_zip_code_path(grower_zip_code) %></td>
        <td><%= link_to 'Destroy', grower_zip_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Grower zip code', new_grower_zip_code_path %>
