<p id="notice"><%= notice %></p>

<p>
  <strong>Zip code:</strong>
  <%= @grower_zip_code.zip_code_id %>
</p>

<p>
  <strong>Grower:</strong>
  <%= @grower_zip_code.grower_id %>
</p>

<%= link_to 'Edit', edit_grower_zip_code_path(@grower_zip_code) %> |
<%= link_to 'Back', grower_zip_codes_path %>
