<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @option.name %>
</p>

<p>
  <strong>Price:</strong>
  <%= @option.price %>
</p>

<p>
  <strong>Option set:</strong>
  <%= @option.option_set_id %>
</p>

<p>
  <strong>Order num:</strong>
  <%= @option.order_num %>
</p>

<%= link_to 'Edit', edit_option_path(@option) %> |
<%= link_to 'Back', options_path %>
