<h1>Checkout</h1>
<%= form_for(@order) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <ul>
      <% @order.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <% if @ccerr == true %>
    <div id="error_explanation" class="alert alert-danger">
      <p>There was an error processing your credit card. Please try again.</p>
    </div>
  <% end %>
  <h2>Billing Info</h2>
  <hr>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :billing_first_name, "First Name" %>
        <%= f.text_field :billing_first_name, class: 'form-control required' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :billing_last_name, "Last Name" %>
        <%= f.text_field :billing_last_name, class: 'form-control required' %>
      </div>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :billing_address, "Address" %>
    <%= f.text_field :billing_address, class: 'form-control long required' %>
  </div>
  <div class="form-group">
    <%= f.label :billing_address2, "Address 2" %>
    <%= f.text_field :billing_address2, class: 'form-control long' %>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :billing_city, "City" %>
        <%= f.text_field :billing_city, class: 'form-control required' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :billing_state, "State" %>
            <%= f.select :billing_state, us_states, {include_blank: true}, { class: 'form-control short required' } %>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <%= f.label :billing_zip, "Zip" %>
            <%= f.text_field :billing_zip, class: 'form-control short required' %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :billing_phone, "Phone" %>
        <%= f.text_field :billing_phone, class: 'form-control required' %>
      </div>
    </div>
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :email %>
        <%= f.text_field :email, class: 'form-control required' %>
      </div>
    </div>
  </div>
  <h2>Shipping Info</h2>
  <hr>
  <div class="form-group">
    <label><input type="checkbox" name="shipping_same_as_billing" id="shipping_same_as_billing" style="vertical-align:top;" checked="checked"> Shipping same as billing</label>
  </div>
  <div id="shipping_address_fields" style="display:none;">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :first_name, "First Name" %>
          <%= f.text_field :first_name, class: 'form-control required' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :last_name, "Last Name" %>
          <%= f.text_field :last_name, class: 'form-control required' %>
        </div>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :address %>
      <%= f.text_field :address, class: 'form-control long required' %>
    </div>
    <div class="form-group">
      <%= f.label :address2, "Address 2" %>
      <%= f.text_field :address2, class: 'form-control long' %>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :city %>
          <%= f.text_field :city, class: 'form-control required' %>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :state %>
              <%= f.select :state, us_states, {include_blank: true}, { class: 'form-control short required' } %>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <%= f.label :zip %>
              <%= f.text_field :zip, class: 'form-control short required' %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <%= f.label :phone %>
          <%= f.text_field :phone, class: 'form-control required' %>
        </div>
      </div>
      <div class="col-md-6">
      </div>
    </div>
  </div>
  <h2>Payment Info</h2>
  <hr>
<div class="row">
    <div class="col-md-6">
      <div class="form-group">
        <%= f.label :card_type, "Card Type" %>
        <%= f.select :card_type, [["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]], {include_blank: true}, { class: 'form-control required' } %>
      </div>
      <div class="form-group">
        <%= f.label :card_number %>
        <%= f.text_field :card_number, class: 'form-control required' %>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <%= f.label :card_verification, "CVV" %>
            <%= f.text_field :card_verification, class: 'form-control short required' %>
          </div>
        </div>
        <div class="col-md-8">
          <div class="form-group">
            <%= f.label :card_expires_on, "Expiration Date" %>
            <%= f.date_select :card_expires_on, { discard_day: true, start_year: Date.today.year, end_year: (Date.today.year + 10), include_blank: true, use_two_digit_numbers: true, order: [:month, :year] }, { class: 'form-control inline date-select required' } %>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6" id="order_totals">
      <%= render partial: 'carts/totals', locals: { cart: @order.cart } %>
    </div>
  </div>
  <div class="actions">
    <%= f.submit "Complete Order", id: 'order-button', class:'btn btn-lg btn-primary btn-cart' %>
  </div>
<% end %>
