<div class="container">
  <h1>Success!</h1>
  <p>Thank you for placing your order with mysimpleplants.com.</p>
  <p>Your order number is <b><%= @order.id %></b>. You will receive a receipt of your purchase by email shortly.</p>
  <p style="color:#A94442;">Note: Gmail users may see their confirmation email being sent to SPAM.  If you don't receive your confirmation message within 10 minutes of placing your order, please check your spam or junk folder.</p>
</div>
<% if Rails.env.production? %>
<script>
  ga('ecommerce:addTransaction', {
    'id': '<%= @order.id %>',
    'affiliation': 'mysimpleplants',
    'revenue': '<%= @order.cart.subtotal %>'
    'shipping': '0',
    'tax': '<%= @order.cart.tax %>'
  });

  <% @order.cart.line_items.each do |item| %>
  ga('ecommerce:addItem', {
    'id': '<%= item.product_id %>',
    'name': '<%= item.product_name %>',
    'price': '<%= item.product_price %>',
    'quantity': '<%= item.quantity %>'
  });
  <% end %>
</script>
<% end %>
