<%= form_for @contact, html: { role: 'form' } do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation" class="alert alert-danger">
      <p>All fields are required.</p>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :email %>
    <%= f.text_field :email, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :subject %>
    <%= f.text_field :subject, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= f.label :message %>
    <%= f.text_area :message, class: "form-control", rows: '8' %>
  </div>
  <div class="actions form-group" style="margin-top:20px;">
    <%= f.submit "Send", class: "btn btn-lg btn-primary btn-cart", style: "max-width:200px;" %>
  </div>
<% end %>
