<div class="container" id="contact-us">
	<h1>Contact Us</h1>
	<p>Contact us or send us a message using the form below and we'll be happy to answer any questions you may have about mysimpleplants.</p>
<p>
  1009 Charlotte St<br>
  Johnstown, CO 80534<br>
  800-899-0225<br>
  <a href="mailto:service@mysimpleplants.com">service@mysimpleplants.com</a>
</p>
	<%= render 'form' %>
</div>
