<div class="row">
  <div class="col-md-9" style="text-align:right;">Subtotal:</div>
  <div class="col-md-3" id="cart_subtotal"><%= number_to_currency(cart.subtotal) %></div>
</div>
<% if cart.discount.present? && cart.discount > 0 %>
<div class="row">
  <div class="col-md-9" style="text-align:right;">Discount:</div>
  <div class="col-md-3"><b><span style="margin-left:-6px">-</span><span id="cart_discount"><%= number_to_currency(cart.discount) %></span></b></div>
</div>
<% end %>
<div class="row">
  <div class="col-md-9" style="text-align:right;">Shipping:</div>
  <div class="col-md-3" id="cart_shipping"><b>FREE</b></div>
</div>
<% if cart.tax.present? && cart.tax > 0  %>
<div class="row">
  <div class="col-md-9" style="text-align:right;">Tax:</div>
  <div class="col-md-3" class="cart_tax"><%= number_to_currency(cart.tax) %></div>
</div>
<% end %>
<div class="row" style="margin-bottom:20px;">
  <div class="col-md-9" style="text-align:right;">Total:</div>
  <div class="col-md-3" id="cart_total"><%= number_to_currency(cart.total) %></div>
</div>
