<div class="container" id="cart-page">
  <h1>Your Cart<a href="/orders/new"><% if @cart.line_items.present? %><button class="btn btn-lg btn-primary btn-cart pull-right" style="max-width:262px;">Continue To Checkout</button><% end %></a></h1>
  <%= render partial: "shared/show_flash_messages", flash: flash %>
  <% if @cart.line_items.empty? %>
  <p style="margin-top:20px;">You have no items in your cart.</p>
  <% else %>
  <p style="margin-top:20px;">See, it was really as easy as 1-2-3. You can continue to check out now, or you can select a couple of other options below, but it's really optional.</p>
  <hr>
  <form>
    <% @cart.line_items.each do |item|
      x = 1
    %>
    <div class="row" style="margin-bottom:15px;">
      <div class="col-md-3">
        <a href="/buy-plants"><img src="/images/box-flowers-small.jpg" alt="Flower Box"></a><p><small style="font-size:75%;">SAMPLE, not your actual order</small></p>
      </div>
      <div class="col-md-3">
      <span style="font-size:.9em;">
        <% item.line_item_options.each do |option| %>
          <%= option.option_set_name %>: <%= option.option_name %><br />
        <% end %>
        </span>
      </div>
      <div class="col-md-3">
        <div class="form-group">
          <label style="display:block;">How many boxes?<br><small style="font-weight:200;">(1 box is 12 quart sized plants)</small></label>
          <input type="text" class="input-lg form-control quantity pull-left" item="<%= item.id %>" name="quantity[<%= x %>]" style="max-width:75px;" value="<%= item.quantity %>"><div class="update pull-left" style="margin-left:5px;margin-top:10px"></div>
        </div>
      </div>
      <div class="col-md-2">
        <%= number_to_currency(item.product_subtotal) %>
      </div>
      <div class="col-md-1">
        <%= link_to "Remove", item, method: :delete %>
      </div>
    </div>
    <hr>
    <% 
    x += 1
    end %>
    <%= render partial: 'totals', locals: { cart: @cart } %>
  </form>
  <div class="row">
    <div class="col-md-5">
      <div class="step" style="width:100%;max-width:600px;padding:20px;font-size:.9em;min-height:212px;">
        <h3 style="margin-top:0;font-size:1.2em;">Are there certain kinds of flowers you don't like?</h3>
        <form>
          <div class="form-group">
           <label for="hated_plant" style="margin-top:10px;font-weight:normal;">Do not include this in my order:</label>
           <%= select_tag :plant_id, options_for_select(@plants, @cart.plant_id), {include_blank: true, class: 'form-control', style: 'max-width:200px;'} %>
         </div>
        </form>
        <!--<div class="row center-block">
          <div class="col-md-6">
            <h4 style="font-size:.9em;">I love this plant:</h4>
            <ul>
              <li><label style="font-weight:200;"><input type="checkbox"> Snap Dragons</label></li>
              <li><label style="font-weight:200;"><input type="checkbox"> Hydrangias</label></li>
              <li><label style="font-weight:200;"><input type="checkbox"> Delphiniums</label></li>
            </ul>
          </div>
          <div class="col-md-6">
            <h4 style="font-size:.9em;">I hate this plant:</h4>
            <ul>
              <li><label style="font-weight:200;"><input type="checkbox"> Peonies</label></li>
              <li><label style="font-weight:200;"><input type="checkbox"> Rhododendrons</label></li>
              <li><label style="font-weight:200;"><input type="checkbox"> Zinnias</label></li>
            </ul>
          </div>
        </div> -->
      </div>
    </div>
    <div class="col-md-4">
      <div class="step" style="width:100%;max-width:400px;padding:20px;min-height:212px;">
        <h3 style="margin-top:0;text-align:center;font-size:1.3em;">Promo Code?</h3>
        <p>If you have a promo code please enter it in the box below.</p>
        <form class="form-inline">
          <div class="form-group" style="margin-left:75px;">
            <input type="text" class="form-control" id="promo_code" value="<%= @promo_code %>" name="promo_code" style="max-width:100px;">
            <button class="btn btn-success" type="submit" id="apply_promo">Apply</button>
          </div>
        </form>
      </div>
    </div>
    <div class="col-md-3">
      <a href="/orders/new"><button class="btn btn-lg btn-primary btn-cart pull-right">Continue To Checkout</button></a>
    </div>
  </div>
  <% end %>
</div>
