<p>Someone has filled out the contact us form. The details are below.</p>
<p>Name: <%= @contact.name %><br>
Email: <%= @contact.email %></p>
<p>Subject: <%= @contact.subject %></p>
<p>Message: <%= @contact.message %></p>