<div id="grower_sign_in" class="container">
  <h1>Log In</h1>
  <% if resource.errors[:email].present? %>
    <ul>
      <% resource.errors[:email].each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  <% end %>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="form-group">
      <%= f.label :email %>
      <%= f.email_field :email, :autofocus => true, class: 'form-control' %>
    </div>
    <div class="form-group">
      <%= f.label :password %><br />
      <%= f.password_field :password, class: 'form-control' %>
    </div>
    <% if devise_mapping.rememberable? -%>
      <div class="form-group"><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
    <% end -%>
    <div class="form-group">
      <%= f.submit "Sign in", class: "btn btn-lg btn-primary btn-cart", style: "max-width:200px;" %>
    </div>
  <% end %>
</div>
