<%= form_for(@option_type) do |f| %>
  <% if @option_type.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@option_type.errors.count, "error") %> prohibited this option_type from being saved:</h2>

      <ul>
      <% @option_type.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :template %><br>
    <%= f.text_field :template %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
