<h1>Listing option_types</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Template</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @option_types.each do |option_type| %>
      <tr>
        <td><%= option_type.name %></td>
        <td><%= option_type.template %></td>
        <td><%= link_to 'Show', option_type %></td>
        <td><%= link_to 'Edit', edit_option_type_path(option_type) %></td>
        <td><%= link_to 'Destroy', option_type, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Option type', new_option_type_path %>
