<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @option_type.name %>
</p>

<p>
  <strong>Template:</strong>
  <%= @option_type.template %>
</p>

<%= link_to 'Edit', edit_option_type_path(@option_type) %> |
<%= link_to 'Back', option_types_path %>
