Someone has placed an order on mysimpleplants.com. Below is a copy of their order information.

Order #: <%= @order.id %>

<% if @order.tracking_number.present? %>
Your FedEx tracking number is: <%= @order.tracking_number %>
<% end %>

Billing Info

Name: <%= "#{@order.billing_first_name} #{@order.billing_last_name}" %>
Address: <%= "#{@order.billing_address} #{@order.billing_address2}" %>
City:<%= "#{@order.billing_city}" %>
State: <%= "#{@order.billing_state}" %>
Zip: <%= "#{@order.billing_zip}" %>
Phone: <%= "#{@order.billing_phone}" %>


Shipping Info

Name: <%= "#{@order.first_name} #{@order.last_name}" %>
Address: <%= "#{@order.address} #{@order.address2}" %>
City:<%= "#{@order.city}" %>
State: <%= "#{@order.state}" %>
Zip: <%= "#{@order.zip}" %>
Phone: <%= "#{@order.phone}" %>


Order Info

<% @order.cart.line_items.each do |item| %>
<%= item.product_name %>
<% item.line_item_options.each do |option| %>
  <%= option.option_set_name %>: <%= option.option_name %>
<% end %>
<%= item.quantity %>
<%= number_to_currency(item.product_subtotal) %>

<% end %>
Subtotal: <%= number_to_currency(@order.cart.subtotal) %>
<% if @order.cart.discount.present? %>
Promo Applied: -<%= number_to_currency(@order.cart.discount) %>
<% end %>
Shipping: Free
Tax: <%= number_to_currency(@order.cart.tax) %>
Total: <%= number_to_currency(@order.cart.total) %>
<% if  @order.cart.plant.present?  %>

I do not want: <%= @order.cart.plant.name %>
<% end  %>
