<p>Thank you for your order with mysimpleplants.com. Below is a copy of your order for your records:</p>
<p><b>Order #: <%= @order.id %></b></p>
<% if @order.tracking_number.present? %>
<p>Your FedEx tracking number is: <b><%= @order.tracking_number %></b></p>
<% end %>
<p><%= @shipping_message %></p>
<p><b>Billing Info</b></p>
<p>Name: <%= "#{@order.billing_first_name} #{@order.billing_last_name}" %><br>
Address: <%= "#{@order.billing_address} #{@order.billing_address2}" %><br>
City:<%= "#{@order.billing_city}" %><br>
State: <%= "#{@order.billing_state}" %><br>
Zip: <%= "#{@order.billing_zip}" %><br>
Phone: <%= "#{@order.billing_phone}" %><br>
</p>
<p><b>Shipping Info</b></p>
<p>Name: <%= "#{@order.first_name} #{@order.last_name}" %><br>
Address: <%= "#{@order.address} #{@order.address2}" %><br>
City:<%= "#{@order.city}" %><br>
State: <%= "#{@order.state}" %><br>
Zip: <%= "#{@order.zip}" %><br>
Phone: <%= "#{@order.phone}" %><br>
</p>
<p><b>Order Info</b></p>
<table>
	<tr>
		<th>Item</th>
		<th>Options</th>
		<th>Quantity</th>
		<th>Total</th>
	</tr>
	<% @order.cart.line_items.each do |item| %>
	<tr>
		<td><%= item.product_name %></td>
		<td>
			<% item.line_item_options.each do |option| %>
      <%= option.option_set_name %>: <%= option.option_name %><br />
      <% end %>
    </td>
		<td><%= item.quantity %></td>
		<td><%= number_to_currency(item.product_subtotal) %></td>
	</tr>
	<% end %>
	<tr>
		<td colspan="3" style="text-align:right;">Subtotal: </td>
		<td><%= number_to_currency(@order.cart.subtotal) %></td>
	</tr>
	<% if @order.cart.discount.present? %>
	<tr>
		<td colspan="3" style="text-align:right;">Promo Applied: </td>
		<td>-<%= number_to_currency(@order.cart.discount) %></td>
	</tr>
	<% end %>
	<tr>
		<td colspan="3" style="text-align:right;">Shipping: </td>
		<td>Free</td>
	</tr>
	<tr>
		<td colspan="3" style="text-align:right;">Tax: </td>
		<td><%= number_to_currency(@order.cart.tax) %></td>
	</tr>
	<tr>
		<td colspan="3" style="text-align:right;">Total: </td>
		<td><%= number_to_currency(@order.cart.total) %></td>
	</tr>
</table>
<% if  @order.cart.plant.present?  %>
<p>I do not want: <%= @order.cart.plant.name %></p>
<% end  %>
