<h1>Listing line_item_options</h1>

<table>
  <thead>
    <tr>
      <th>Line item</th>
      <th>Option</th>
      <th>Option name</th>
      <th>Option price</th>
      <th>Option set</th>
      <th>Option set name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @line_item_options.each do |line_item_option| %>
      <tr>
        <td><%= line_item_option.line_item_id %></td>
        <td><%= line_item_option.option_id %></td>
        <td><%= line_item_option.option_name %></td>
        <td><%= line_item_option.option_price %></td>
        <td><%= line_item_option.option_set_id %></td>
        <td><%= line_item_option.option_set_name %></td>
        <td><%= link_to 'Show', line_item_option %></td>
        <td><%= link_to 'Edit', edit_line_item_option_path(line_item_option) %></td>
        <td><%= link_to 'Destroy', line_item_option, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Line item option', new_line_item_option_path %>
