<p id="notice"><%= notice %></p>

<p>
  <strong>Line item:</strong>
  <%= @line_item_option.line_item_id %>
</p>

<p>
  <strong>Option:</strong>
  <%= @line_item_option.option_id %>
</p>

<p>
  <strong>Option name:</strong>
  <%= @line_item_option.option_name %>
</p>

<p>
  <strong>Option price:</strong>
  <%= @line_item_option.option_price %>
</p>

<p>
  <strong>Option set:</strong>
  <%= @line_item_option.option_set_id %>
</p>

<p>
  <strong>Option set name:</strong>
  <%= @line_item_option.option_set_name %>
</p>

<%= link_to 'Edit', edit_line_item_option_path(@line_item_option) %> |
<%= link_to 'Back', line_item_options_path %>
