<div class="row step" id="step_<%= step_counter + 1 %>">
  <div class="col-md-7">
    <h2><span class="steps">Step <%= step_counter + 1 %>:</span> <%= step.name %></h2>
    <p><%= raw step.description %></p>
  </div>
  <div class="col-md-5" style="margin-top:32px;">
    <%= render partial: 'option_sets/step_option_set', collection: step.option_sets, as: :option_set %>
  </div>
  <i class="fa fa-question-circle" data-container="body" data-toggle="popover" data-placement="left" data-content="<%= step.tooltip %>"></i>
</div>
