<div class="container" id="cart-page">
  <p><%= link_to "<< Back to account page", growers_home_path %></a></p>
  <h1>Order #<%= @order.id %></h1>
  <% @order.cart.line_items.each do |item| %>
  <div class="row" style="margin-bottom:15px;">
    <div class="col-md-8">
      <% item.line_item_options.each do |option| %>
        <%= option.option_set_name %>: <%= option.option_name %><br />
      <% end %>
    </div>
    <div class="col-md-4">
      <div class="form-group">Quantity: <%= item.quantity %></div>
    </div>
  </div>
  <hr>
  <% end %>
  <% if @order.cart.plant.present? %>
    Please do not send: <%= @order.cart.plant.name %>
  <% end %>
  <h2>Shipping Address</h2>
  <p>
    <%= "#{@order.first_name} #{@order.last_name}" %><br>
    <%= "#{@order.address} #{@order.address2}" %><br>
    <%= "#{@order.city}, #{@order.state} #{@order.zip}" %><br>
    <%= @order.phone %><br>
  </p>
  <p style="margin-top:30px;">
    <form method="post" id="grower_order_form">
      <input type="hidden" name="orders[]" value="<%= @order.id %>">
      <button type="submit" id="print_order" class="btn btn-primary btn-cart">Print Picking Sheet</button>
    </form>
  </p>
</div>
