@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,300,700);
@import "variables";
@import "bootstrap";
@import "font-awesome";
@import "jquery-tablesorter/theme.bootstrap";
@import "bootstrap-datepicker";

html {
  text-rendering: optimizelegibility;
}

body {
  font-family: $primary-font-family;
  -webkit-font-smoothing: antialiased;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
    
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;

  min-height: 100vh;
  font-size: 16px;
}

.top {
    height: 100%;
    min-height: 650px;
    position: relative;
}

.top #learn-more {
    bottom: 50px;
    cursor: pointer;
    left: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}

a {
  color: $primary-color;
}

a:hover {
  color: $accent-color;
  text-decoration:none;
}

p {
  font-weight:400;
}

img.framed {
  border:10px solid #eeeeee;
}

header {
  margin-bottom:8px;
  padding-top:8px;
  background-color:#f8fbee;
  ul {
    letter-spacing:.8px;
  }
  .navbar {
    margin-top:12px;
    margin-bottom:0;
    min-height:40px;
    .navbar-nav > li > a {
       line-height: 22px;
       padding: 10px 15px 5px;
    }
  }
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  ul#social {
    margin:0;
    margin-top:0px;
    padding:0;
    li {
      float:left;
      img {
         width:60%;
      }
    }
  }
}

#header-logo {
  max-width:225px;
  margin-top: -5px;
}

main {
  display:block;
  -webkit-box-flex: 1;
  flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1 0 auto;
  -ms-flex-preferred-size: auto;
  h1, h2, h3, h4, h5, h6 {
    letter-spacing: 2px;
  }
  h1 {
    font-size:3em;
    color:$primary-color;
    font-weight:600;
    letter-spacing:4px;
    border-bottom:1px solid #EEEEEE;
    padding-bottom:10px;
  }
}

#home-page h1 {
  text-align:center;
  border:none;
}

footer {
  margin-top:40px;
  padding-top:10px;
  background-color: $primary-color;
  color: #ffffff;
  ul {
    list-style-type:none;
    letter-spacing:.8px;
  }
  a {
    color: #ffffff;
  }
  a:hover {
    color: #F1C341;
    text-decoration:none;
  }
  ul#social {
    margin:0;
    padding:0;
    li {
      float:left;
      margin-right:10px;
    }
  }
  p#fine-print {
    margin-top:25px;
  }
}

ul#simple {
    overflow: hidden;
    position: relative;
    list-style: none outside none;
}

ul#simple li {
    display: block;
    float: left;
    margin-right: 10px;
    position: relative;
}

ul#simple li img {
    /*-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-clip: padding-box;
    border-image: none;
    border-radius: 3px 3px 0 0;
    border-style: solid;
    border-width: 1px 1px 0;
    border-color: #EBF1CC;*/
    bottom: 0;
    display: block;
    height: 169px;
    position: relative;
    width: 250px;
}

ul#simple li h2 {
  font-size:1.5em;
  color: #563181;
  font-weight: 200;
  height: 30px;
  line-height: 26px;
  text-align: center;
  text-shadow:none;
  margin:0;
}

.step {
  margin-bottom:20px;
  background-color:rgba(10,10,10,.05);
  border:1px solid #aaaaaa;
  border-radius:3px;
  padding-top:15px;
  padding-bottom:15px;
  float:left;
  width:100%;
  margin-left:0;
  margin-right:0;
  position:relative;
  ul {
    list-style-type:disc;
    list-style-position:inside;
  }
}

.step i {
  position:absolute;
  top:5px;
  right: 5px;
  font-size:1.1em;
  cursor:pointer;
  color:#666666;
}

.step h2 {
  color: #666666;
  margin-top:0;
  font-size:1.4em;
}

h2 .steps {
  color: $primary-color;
}

.steps_wrapper {
  max-width: 600px;
}

.btn-cart {
  background: none repeat scroll 0 0 $accent-color;
  border-color: $accent-color;
  width:100%;
  max-width: 300px;
  letter-spacing: 2px;
}

.btn-cart:hover {
  background: none repeat scroll 0 0 #3F235F;
  border-color: #3F235F;
}

.btn-green {
  background: none repeat scroll 0 0 $primary-color;
  border-color: $primary-color;
  width:100%;
  max-width: 300px;
  letter-spacing: 2px;
}

.btn-green:hover {
  background: none repeat scroll 0 0 #396F30;
  border-color: #396F30;
}

input[type="radio"] {
  margin-left:30px;
}

select {
  margin-bottom:10px;
}

ul {
  list-style-type:none;
  padding-left:0;
}

.flower-power {
 background: transparent url(/images/yellow-flowers.jpg) 100% center no-repeat;
 background-size: 100%;
 -khtml-opacity:.80; 
 -moz-opacity:.80; 
 -ms-filter:"alpha(opacity=80)";
  filter:alpha(opacity=80);
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.8);
  opacity:.80;
  height:200px;
  width:100%;
}
.flower-power-wrapper {
  position:relative;
  width:100%;
  height:200px;
  overflow:hidden;
  margin-bottom:32px;
  h1{
    position:absolute;
    height:100%;
    width:100%;
    font-size:2.7em;
    line-height: 5em;
    /*color:$primary-color;*/
    color:#563181;
    text-shadow:1px 2px 6px #ffffff;
    margin-top:0;
    text-align:center;
    bottom:0;
  }
}

.inline {
  display:inline;
}

.alert-zip {
  background-color: #FEFFBF;
  border-color: #FAEBCC;
  color: #8A6D3B;
  width: 100%;
  color:green;
  font-weight:bold;
  font-size:1.2em;
}

@import "pages";
@import "contacts";
@import "growers";
@import "registrations";
@import "orders";
