// Place all the styles related to the Orders controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#order_page, #edit_grower_page{

  h1 {
    font-size:2em;
  }

  h2 {
    font-size: 1.1em;
  }

  input {
    max-width:400px;
  }

  input.long {
    max-width:900px;
  }

  input.short {
    max-width:100px;
  }

  .row {
    max-width:1000px;
  }

  select {
    max-width:150px;
  }

  label {
    font-weight:200;
    margin-bottom:0;
    display:block;
  }

  .date-select {
    max-width:105px;
  }

  .actions {
    text-align:center;
    margin-top:20px;
    margin-bottom:40px;
  }

	#order_card_expires_on_2i {
	  margin-right: 20px;
	}
  
  .form-group {
    margin-bottom:5px;
  }

  hr {
    margin-top:5px;
    margin-bottom:5px;
  }

}
