// Place all the styles related to the Zones controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#about-us {

  h2 {
  	margin-bottom: 20px;
  }

  .row {
    margin-bottom: 40px;
  }

}

.zones_table {
  width:100%;
  max-width:600px;
  float:right;
  border: 1px solid #000;
  td {
    padding: 5px;
    text-align: right;
    vertical-align:top;
    border: 1px solid #000;
  }
  td.zone {
    text-align: center;
  }
  th {
    text-align:center;
  }
}
