<!--<div class="flower-power-wrapper">
  <div class="flower-power">
  </div>
  <h1>Your new garden delivered right to your doorstep!</h1>
</div>-->
<h1 style="text-align:center; margin-bottom:20px;">12 quart-sized annuals in each box you order</h1>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <img src="/images/box-flowers.jpg" class="img-responsive" alt="MySimplePlants Annuals">
      <p><small>SAMPLE, not your actual order</small></p>
    </div>
    <div class="col-md-6">
      <%= form_tag( { controller: 'line_items', action: 'create' }, method:'post', id: 'product_form') do %>
        <input type="hidden" name="product_id" id="product_id" value="<%= @product.id %>">
        <input type="hidden" name="quantity" id="quantity" value="1">
        <%= render partial: 'steps/product_step', collection: @product.steps, as: :step %>
        <div style="float:left; width: 100%; text-align:center;">
          <button type="submit" class="btn btn-lg btn-primary btn-cart">Add To Cart</button>
        </div>
      <% end %>
    </div>
</div>
