<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <ul>
          <li><%= link_to "About mysimpleplants", about_us_path  %></li>
          <li><%= link_to "Our Growers", our_growers_path %></li>
          <li><%= link_to "Plant Care", plant_care_path %></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li><%= link_to "Register", register_path %></li>
          <li><%= link_to "FAQ", faq_path %></li>
          <li><%= link_to "Contact Us", contact_us_path %></li>
        </ul>
      </div>
      <div class="col-md-4">
        <ul>
          <li><%= link_to "Terms and Policies", terms_path %></li>
          <li><%= link_to "Sitemap", sitemap_path %></li>
          <% if grower_signed_in? %>
            <li><%= link_to "Grower Log Out", destroy_grower_session_path %></li>
          <% else %>
            <li><%= link_to "Grower Log In", new_grower_session_path %></li>
          <% end %>
        </ul>
      </div>
    </div>
    <p id="fine-print" class="text-center"><small>Plant your simple color, &copy; <%= Time.now.year %> mysimpleplants LLC</small></p>
  </div>
</footer>
