<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>MySimplePlants &raquo; Plant Your Simple Color</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="p:domain_verify" content="3166f4b10a13b5ef32c8a7054461d433"/>
    <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <% if Rails.env.production? %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-47256232-1', 'mysimpleplants.com');
      ga('send', 'pageview');
    </script>
    <% end %>
  </head>
  <body>
    <%= render partial: "layouts/header" %>
    <main>
      <%= yield %>
    </main>
    <%= render partial: "layouts/footer" %>
  </body>
</html>
